.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.sup {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.logo {
    margin-top: 10%;
    width: 180px;
    height: 120px;
    margin-bottom: 10%;
}

.logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.inf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inf i {
    font-size: 30px;
    color: green;
}


.inf .cerrar {
    margin-top: 5%;
    text-decoration: none;
    color: black;
    margin-bottom: 30%;
}

.inf .cerrar:hover {
    color: green;
}

