<div class="card">
  <div class="sup">
    <div class="logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Logotipo_UIS.png/572px-Logotipo_UIS.png?20131230031906" alt="" />
    </div>
    <div class="card flex justify-content-center">
      <p-panelMenu [model]="items" [style]="{ width: '300px' }"></p-panelMenu>
    </div>
  </div>
  <div class="inf">
     <a href="/login" (click)="Logout()"><i class="pi pi-user"></i></a>
    <a href="/login" (click)="Logout()" class="cerrar">Cerrar sesion</a>
  </div>
</div>
