.nutritional-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.nutritional-form label {
  margin-top: 10px;
}

.nutritional-form .p-button {
  margin-top: 10px;
}

.p-inputtext {
  height: 120px !important;
}

form {
  width: 100%;
}

.InfN {
  height: 500px;
}
