<div class="card">
  <div class="utilities"></div>
  <div class="table">
    <p-table [value]="checkList" dataKey="code" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cedula</th>
          <th>Asistencia</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-checkList>
        <tr>
          <td>{{checkList.nameUser}}</td>
          <td>{{checkList.lastNameUser}}</td>
          <td>{{checkList.idNumber}}</td>
          <td>
            <p-tableCheckbox (change)="assistance(checkList)" [value]="assistCheck"></p-tableCheckbox>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
