<div class="container">
  <p-table
    #dt1
    [value]="users"
    dataKey="id"
    [scrollable]="true"
    scrollHeight="500px"
    styleClass="p-datatable-sm"
    [globalFilterFields]="['nameUser', 'lastNameUser', 'idNumber']"
    [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="caption">
      <div class="utilities">
        <h3>USUARIOS</h3>
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input #inputElement pInputText type="text"
                   (input)="handleInputChange(); dt1.filterGlobal(value, 'contains')" placeholder="Buscar Usuario"/>
          </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr style="text-align: center">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cédula</th>
        <th>Habilitado</th>
        <th>Actualizar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
      <tr>
        <td>{{users.nameUser}}</td>
        <td>{{users.lastNameUser}}</td>
        <td>{{users.idNumber}}</td>
        <td><i class="pi" [ngClass]="{'true-icon pi-check-circle': users.activated, 'false-icon pi-times-circle': !users.activated}"></i></td>
        <td style="text-align: center"><a (click)="onUpdateUser(users)"><i class="pi pi-pencil" style="color: cornflowerblue"></i></a></td>
      </tr>
    </ng-template>
  </p-table>
</div>
