<div class="card">
  <div class="logo">
    <div>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Universidad_Industrial_de_Santander_logo.svg/1280px-Universidad_Industrial_de_Santander_logo.svg.png"
        alt=""
      />
    </div>
  </div>
  <div class="login">
    <form (ngSubmit)="Login.valid && onSubmit()" [formGroup] = "Login">
      <div class="imageLogo">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Logotipo_UIS.png/572px-Logotipo_UIS.png?20131230031906"
          alt=""
        />
      </div>
      <div class="p-field p-col-12 p-md-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
          </span>
          <span class="p-float-label">
            <input type="text" id="User" formControlName="user"  pInputText />
            <label for="User">Usuario</label>
          </span>
        </div>
        <div class="msg" *ngIf="Login.get('user')?.touched && Login.get('user')?.valid == false">
          <p-message severity="error" text="Usuario requerido"></p-message>
        </div>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-lock"></i>
          </span>
          <span class="p-float-label">
            <input type="password" id="Password" formControlName="password" pInputText />
            <label for="Password">Contraseña</label>
          </span>
        </div>
        <div class="msg" *ngIf="Login.get('password')?.touched && Login.get('password')?.valid == false">
          <p-message severity="error" text="Contraseña requerida"></p-message>
        </div>
      </div>
      <button pButton type="submit" label="Iniciar Sesión"></button>
    </form>
  </div>
</div>
