<div class="card">
  <div class="logo">
    <div>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Universidad_Industrial_de_Santander_logo.svg/1280px-Universidad_Industrial_de_Santander_logo.svg.png"
        alt=""
      />
    </div>
  </div>
  <div class="login">
    <form (onSubmit)="onSubmit()">
      <div class="imageLogo">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Logotipo_UIS.png/572px-Logotipo_UIS.png?20131230031906"
          alt=""
        />
      </div>
      <div class="p-field p-col-12 p-md-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
          </span>
          <span class="p-float-label">
            <input type="text" id="User" pInputText />
            <label for="User">Usuario</label>
          </span>
        </div>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-lock"></i>
          </span>
          <span class="p-float-label">
            <input type="password" id="Password" pInputText />
            <label for="Password">Contraseña</label>
          </span>
        </div>
      </div>
      <button pButton type="button" label="Iniciar Sesión"></button>
    </form>
  </div>
</div>
