.card{
    width: 100%;
    height: 100vh;
    display: flex;
}

.logo{
    width: 50%;
    height: 100%;
    background: #74B94D;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .logo div{
    border: 3px solid white ;
    width: 70%;
    height: 35%;
 }

 .logo div img {
    object-fit: contain;
    width: 100%;
    height: 100%;
 }

.login {
    width: 50%;
    height: 100%;
}


.login form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-field{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  flex-direction: column;
  margin-bottom: 7%;
}

.p-inputgroup{
    width: 60%;
}

.p-inputgroup span {
    background: #67B939;
}

.p-inputgroup i {
    color: aliceblue;
}

.p-inputgroup input {
    border-radius: 0px;
}

form button{
    background-color: #67B939;
}

form button:hover {
    background-color: green !important;
}

.imageLogo{
    width: 20%;
    height: 20%;
    margin-bottom: 5%;
}

.imageLogo img {
  object-fit: contain;
    width: 100%;
    height: 100%;
}

.msg{
  width: 60%;
  margin-top: 1%;
}


