.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p-fieldset{
    width: 70% !important;
    height: 600px !important;
}

.input{
    width: 100%;
    margin-right: 10%;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.msg{
    margin-bottom: 5%;
}

.p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext, .p-inputgroup .p-inputwrapper, .p-inputgroup .p-inputwrapper>.p-component {
    width: 100% !important;
}

.butt{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}

button {
  width: 50%;
  height: 100%;
  background-color: #67B939;
  border: 0px solid;
}

button:hover{
  background-color: green !important;
}




