<div class="form">
  <p-fieldset legend="Crear nuevo usuario">
    <form (onSubmit)="onSubmit()" [formGroup]="userCreate">
      <div class="input">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
          </span>
          <span class="p-float-label">
            <input type="text" id="Name" formControlName="name" pInputText />
            <label for="Name">Nombres</label>
          </span>
        </div>
        <div class="msg">
          <p-message severity="error" text="Nombres requeridos"></p-message>
        </div>
      </div>

      <div class="input">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
          </span>
          <span class="p-float-label">
            <input
              type="text"
              id="LastName"
              formControlName="lastname"
              pInputText
            />
            <label for="LastName">Apellidos</label>
          </span>
        </div>
        <div class="msg">
          <p-message severity="error" text="Apellidos requeridos"></p-message>
        </div>
      </div>

      <div class="input">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-id-card"></i>
          </span>
          <span class="p-float-label">
            <input
              type="text"
              id="IdNumber"
              formControlName="idnumber"
              pInputText
            />
            <label for="IdNumber">Numero de Identificación</label>
          </span>
        </div>
        <div class="msg">
          <p-message
            severity="error"
            text="El numero de identificaion debe contener minimo 8 caracteres"
          ></p-message>
        </div>
      </div>

      <div class="input">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-id-card"></i>
          </span>
          <span class="p-float-label">
            <p-dropdown [options]="document" optionLabel="name"></p-dropdown>
          </span>
        </div>
        <div class="msg">
          <p-message
            severity="error"
            text="Debe seleccionar el tipo de documento"
          ></p-message>
        </div>
      </div>

      <div class="input">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-users"></i>
          </span>
          <span class="p-float-label">
            <input type="text" id="User" formControlName="user" pInputText />
            <label for="User">Usuario</label>
          </span>
        </div>
        <div class="msg">
          <p-message
            severity="error"
            text="El usuario es requerido"
          ></p-message>
        </div>
      </div>

      <div class="input">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-lock"></i>
          </span>
          <span class="p-float-label">
            <input
              type="password"
              id="Password"
              formControlName="password"
              pInputText
            />
            <label for="Password">Contraseña</label>
          </span>
        </div>
        <div class="msg">
          <p-message
            severity="error"
            text="La contraseña debe contener minimo 8 caracteres una, letra mayuscula y un numero"
          ></p-message>
        </div>
      </div>

      <div class="input">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-id-card"></i>
          </span>
          <span class="p-float-label">
            <p-dropdown [options]="roles" optionLabel="name"></p-dropdown>
          </span>
        </div>
        <div class="msg">
          <p-message
            severity="error"
            text="Debe seleccionar un rol para el usuario"
          ></p-message>
        </div>
      </div>
      <div class="butt">
        <button pButton type="submit" label="Guardar Usuario"></button>
      </div>
    </form>
  </p-fieldset>
</div>
