.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p-fieldset{
    width: 70% !important;
}

.input{
    width: 100%;
    margin-right: 10%;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.msg{
    margin-bottom: 5%;
}

.p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext, .p-inputgroup .p-inputwrapper, .p-inputgroup .p-inputwrapper>.p-component {
    width: 100% !important;
}