/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Mensaje de error del login*/
.p-inline-message{
  width: 100% !important;
}


.p-panelmenu-header-link {
  background-color: #86bc6c !important;
  color: azure !important;
}
