<div class="card">
  <div class="sup">
    <div class="logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Universidad_Industrial_de_Santander_logo.svg/1280px-Universidad_Industrial_de_Santander_logo.svg.png" alt="" />
    </div>
    <div class="card flex justify-content-center">
      <p-panelMenu [model]="items" [style]="{ width: '300px' }"></p-panelMenu>
    </div>
  </div>
  <div class="inf">
     <a href="/login" (click)="Logout()"><i class="pi pi-user"></i></a>
    <a href="/login" (click)="Logout()" class="cerrar">Cerrar sesion</a>
  </div>
</div>
